@import 'master';

//visualizer blob tms
:root {
    --br-blobby: 50%;
    --br-blobby-before: 50%;
    --br-blobby-after: 50%;
    --blob: #F474D0;
}

.header-bg {
    background: linear-gradient(90deg, $omstart-1 0%, $omstart-2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    animation: rotateClockwise 5s linear infinite;
    background-color: var(--blob);
    border-radius: var(--br-blobby);
    position: relative;
    height: 250px;
    width: 250px;
    transition: 0.3s linear;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box::after {
    content: '';
    background-color: var(--blob);
    border-radius: var(--br-blobby-after);
    position: absolute;
    opacity: 0.5;
    top: -5%;
    height: 104%;
    width: 104%;
    transition: 0.3s linear;
    z-index: 0;
}

.box::before {
    content: '';
    background-color: var(--blob);
    border-radius: var(--br-blobby-before);
    position: absolute;
    opacity: 0.5;
    top: -4%;
    height: 108%;
    width: 108%;
    transition: 0.3s linear;
    z-index: 0;
}


.logo-container {
    z-index: 100;
    animation: rotate 5s linear infinite;

    .img-logo {
        animation: logo-zoomer 0.6s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logo-zoomer {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.05, 1.05);
    }

    100% {
        transform: scale(1, 1);
    }
}